{% extends "base.html" %}

{% block content %}
<h1>About stanema</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut malesuada magna nunc, quis luctus lacus iaculis et.
    Phasellus sit amet leo lectus. Pellentesque sapien felis, rhoncus sit amet iaculis a, vestibulum in nulla. Fusce et
    porta urna. Quisque vehicula dolor quis aliquam hendrerit. Class aptent taciti sociosqu ad litora torquent per
    conubia nostra, per inceptos himenaeos. Fusce pharetra fringilla nunc, eu elementum lacus. Donec bibendum auctor
    dignissim.
</p>

<p>
    Vestibulum placerat fermentum laoreet. Maecenas congue malesuada leo, non auctor libero rutrum consectetur. Mauris
    sit amet ipsum quis odio vestibulum condimentum. Vestibulum neque lorem, iaculis vitae iaculis quis, sollicitudin
    vel sem. Nunc ante purus, suscipit ut imperdiet a, laoreet sodales sem. Nam eu nunc auctor, posuere tortor et,
    euismod velit. Integer aliquet eros sed tincidunt suscipit. Suspendisse eros augue, consectetur at mauris id, tempor
    vestibulum ligula. Donec non eros vel turpis dictum egestas. Nullam vestibulum nisi ut neque convallis vulputate.
    Sed non euismod nunc, et ultricies quam. Nullam aliquam mi justo, non consectetur ante posuere ut. Praesent quis
    eros eget tortor interdum vulputate eu ut augue.
</p>

{% endblock %}